body {
    color: #262626;
}

.hidden {
    display: none !important;
}

/* Font size */
.fs-25 { font-size: 25px; }
.fs-40 { font-size: 40px; }
.fs-60 { font-size: 60px; }

/* Zona messaggi */
.content-center,
.content-center h2,
.content-center p {
    text-align: center;
}

/* navbar */
.navbar {
    border-bottom: 2px solid #dfe4ea;
}

/* Form */
.form-label {
    font-weight: 600;
}
.form-select {
    border-radius: 12px;
    height: 48px;
    padding-left: 1rem;
}

/* Pulsanti */
.btn {
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 8px;
}

/* Navbar */
.navbar-brand {
    color: #262626;
    font-weight: 700;
}

/* Contenitore icone connessione */
.link-icon-container {
    margin-right: 24px;
}
.link-icon-container i {
    font-size: 21px;
}
i.link-ok {
    color: var(--bs-success);
}
i.link-ko {
    color: var(--bs-danger);
}

/* Container della matrice */
.container-scansione {
    width: fit-content;
    margin: auto;
}

/* Tabella (materice) */
#tableContainer td {
    text-align: center; 
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}

/* Modal */
.modal-content {
    border: none;
    border-radius: 10px;
}
.modal-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.modal-backdrop {
    --bs-backdrop-opacity: 0.35;
}

/* Zona messaggi */
.messagges-container {
    margin-bottom: 1rem;
}

/* Recording logo */
.recording-object {
    animation: blinkAnimation 2s infinite;
    margin: auto;
    width: fit-content;
    display: flex;
}
.recording-ball {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 7px;
}
@keyframes blinkAnimation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Messaggio success */
.success-message-object {
    margin: auto;
    width: fit-content;
    display: flex;
}
.success-message-object h3 {
    margin-bottom: 0;
    line-height: 40px;
}
.success-green-tick {
    width: 40px;
    margin-right: 10px;
}

/* Toast */
.toast {
    border: 2px solid #dfe4ea;
    box-shadow: none;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.toast .success-green-tick-toast {
    width: 25px;
    margin-right: 10px;
}
.toast-body p {
    font-weight: 500;
    align-self: center;
    margin-bottom: 0;
}

/* Icone */
.success-icon {
    color: #198754;
}
.error-icon {
    color: #dc3545;
}

/* Busy full-screen */
.fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}
.fullscreen-loader .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(13, 110, 253);
}
.fullscreen-loader .spinner-container .spinner-border {
    width: 3rem;
    height: 3rem;
}